<h3 class="ui header">{{t 'forms.i-i-s-mojj-novyjj-proekt-20191206-сцена-e.caption'}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=model.errors}}
    </div>
  </div>
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button type="submit" class="ui button save-button" {{action 'save'}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button type="submit" class="ui button save-del-button" {{action 'delete'}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action 'close'}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.площадь
    class=(if model.errors.площадь 'error' '')
    label=(t 'forms.i-i-s-mojj-novyjj-proekt-20191206-сцена-e.площадь-caption')
  }}
  {{flexberry-validationmessage error=model.errors.площадь pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.i-i-s-mojj-novyjj-proekt-20191206-сцена-e.работникСцены-caption'}}</label>
  {{
    flexberry-lookup
    choose='showLookupDialog'
    remove='removeLookupValue'
    value=model.работникСцены
    
    relationName='работникСцены'
    projection='РаботникСценыL'
    title=(t 'forms.i-i-s-mojj-novyjj-proekt-20191206-сцена-e.работникСцены-caption')
    readonly=readonly
    componentName="работникСценыLookup"
  }}
  {{flexberry-validationmessage error=model.errors.работникСцены pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=true
    required=true
    value=model.работникСцены.фИО
    class=(if model.errors.работникСцены.фИО 'error' '')
    label=(t 'forms.i-i-s-mojj-novyjj-proekt-20191206-сцена-e.работникСцены.фИО-caption')
  }}
  {{flexberry-validationmessage error=model.errors.работникСцены.фИО pointing="pointing"}}
</div>

</form>
